<div class="parent" *ngIf="groupActivities && (groupActivities | keyvalue) as entries">
  <div *ngFor="let type of entries" class="child">
    <h3>{{ type.key | titlecase }}</h3>
    <p class="total-duration">
      <strong>Total {{ type.key }} time:</strong> {{ type.value.totalDuration | number:'1.0-0' }} mins
    </p>
    <ul class="list-parent">
      <li *ngFor="let item of type.value.list" class="list-child">
        <strong>Start: </strong> {{ item.sTime | date:'short' }} <br>
        <strong>End: </strong> {{ item.eTime | date:'short' }} <br>
        <strong>Duration: </strong> {{ item.duration | number:'1.0-0' }} mins
      </li>
    </ul>
  </div>
</div>
