.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #25e8f2);
  padding: 1rem 2rem;
  color: white;
  height: auto;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
}

#logo {
  flex: 1;
}

.link {
  display: flex;
  gap: 1.8rem;
}

 .link a {
  text-decoration: none;
  font-weight: 300;
  padding-bottom: 2px;
  transition: color 0.3s, border-bottom 0.3s;
} 

.link a:hover {
  color: #f0f0f0;
  border-bottom: 2px solid white;
}

.menu-btn {
  display: none;
  color: white;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    z-index: 1001;
  }

  .link {
    display: none;
  }

  .link.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw; 
    height: 50vh;
    background-color: #002f4b;
    padding: 2rem 1rem;
    z-index: 1000;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  }

  .link a {
    padding: 1rem 0;
    color: white;
    font-size: 18px;
  }

  .link a:hover {
    color: #00e5ff;
    border-bottom: none;
  }
}
