.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #25e8f2);
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 4em;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-link a {
  margin-left: 1.8rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.nav-link a:hover {
  color: #f0f0f0;
  border-bottom: 2px solid white;
}
