.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 243, 243);
    flex-direction: column;
    height: 31.2em;
}
.cont1{
    height: 20em;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 600px;
    .name{
        margin-left: 1.3em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        padding: 5px;
    }
    .activity{
        color: lightcoral;
        margin-left: 2em;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1em;
    }
    .time{
        color: lightcoral;
        margin-left: 1.8em;
        margin-bottom: 2em;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;  
    }
    button{
        padding: 8px 16px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s;
        margin-left: 38%;
        } 
    button:hover {
        background-color: #0056b3;
    }
}