<div class="parent">
  <div class="cont1">
    <form class="cont2" #activityForm="ngForm" (ngSubmit)="onSubmit(activityForm)">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Baby Name</mat-label>
        <input matInput placeholder="Enter baby name" name="bName" ngModel required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Activity</mat-label>
        <mat-select name="type" ngModel required>
          <mat-option value="" disabled>Select an activity</mat-option>
          <mat-option value="feeding">Feeding</mat-option>
          <mat-option value="sleep">Sleep</mat-option>
          <mat-option value="diaper">Diaper Change</mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Start Time</mat-label>
          <input matInput type="datetime-local" name="sTime" ngModel required />
        </mat-form-field>
    

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>End Time</mat-label>
          <input matInput type="datetime-local" name="sTime" ngModel required />
        </mat-form-field>
    </form>
    <button mat-flat-button >Add Activity</button>
  </div>
</div>
  