
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white; 
    
  }
  
 
  .cont1 {
    margin-top: 3em;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 390px;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
  }
  #details{
    display: inline;
    margin-left: 1em;
    width: 10em;
  }
  button {
    margin-top: 4em;
    background-color: #4CAF50;
    color: white;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8em;
  }
  
  button:hover {
    background-color: #45a049; 
  }
  
 
  .name, .activity, .time {
    margin-bottom: 1.8em;
  }
  