
.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  gap: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  background-color: white;
 
}

.cont1,.cont2{
  background: #f0f8ff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 3em;
  
}
.title p {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list li {
  background-color: #e6f0ff;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list li:hover {
  background-color: #cce0ff;
}

.btn button {
  margin-top: 1rem;
  margin-left: 2em;
  background-color: #4facfe;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn button:hover {
  background-color: #00c6ff;
}

.cont2 input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.cont2 button {
  background-color: #4caf50;
  margin-left: 6em;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cont2 button:hover {
  background-color: #45a049;
}
@media (min-width: 600px) {
  .parent {
    flex-direction: row; 
    justify-content: space-around; 
  }
  .cont2 {
    display: block;
    margin-left: 20px; 
  }
}
@media (max-width: 600px) {
  .cont1, .cont2 {
    width: 100%; 
    margin: 10px 0;
  }
  .cont2 {
    margin-top: 20px; 
  }

  .btn {
    margin-top: 15px;
  }
}
@media (max-width: 375px) {
  .title p {
    font-size: 1.2em; 
  }

  .list li {
    font-size: 0.9em;
  }
}