<div class="parent">
    <div class="cont1">
        <div class="title">
            <p>Baby's Name</p>
        </div>
        <div class="list">
            <ul>
                <li *ngFor="let bName of babyName"
                   (click)="goToFeed(bName)" #name>Baby Name : {{ bName | titlecase }} 
                   
                </li>
            </ul> 
        </div>
        <div class="btn" style="text-align: center;">
            <button (click)="addBabyName()">Add Baby Name</button>
        </div>
    </div>

    <div class="cont2" *ngIf="showContent">
    <label>Id :{{ formatId(nextId) }}</label><br>
    <input type="text" placeholder="Enter Child Name" #inputRef/>
    <br>
    <button (click)="onSave(inputRef)">Save</button>
    </div>
</div>