.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background-color: #f7f9fc;
    padding: 20px;
    p {
        margin-top: 16px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }
      
  }
  
  .updateName {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    input {
        width: 260px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        transition: border-color 0.3s;
      }
      input:focus {
        border-color: #007bff;
        outline: none;
      }
      button {
        margin-top: 6px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      button:hover {
        background-color: #0056b3;
      }
  }
