<div class="gf">
    <div class="parent">
        <div class="updateName">
            <input matInput placeholder="Old Baby Name" [(ngModel)]="oldName">
          <input matInput placeholder="New Baby Name" [(ngModel)]="newName">
            <button (click)="updateName()">Update Name</button>
        </div>
        <div>
            <p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>
            <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
        </div>
    </div>
    <div class="parent">
        <div class="clearLogs">
            <input matInput placeholder="Baby Name" [(ngModel)]="bName">
            <!--<button (click)="clearLogs()">Clear Logs</button>-->
                <button class="btn btn-primary" (click)="clearLogs()">Clear Logs</button>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title">Modal Heading</h4>
    <button type="button" class="btn-close" (click)="closeModel()" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
    Modal body..
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div> I
    


